# Node.js modules
node_modules/
**/node_modules/

# Ignore all .env files
*.env
*.env.*

# Do not ignore example .env files
!*.env.example

# Ignore specific environment directories
client/env/*
api/env/*

# Allow example files in those directories
!client/env/*.env.example
!api/env/*.env.example

# Logs
*.log
logs/
**/logs/

# Build outputs
dist/
build/
client/dist/
**/dist/

# Client-specific ignores
client/node_modules/
client/dist/

# Server-specific ignores
server/node_modules/
server/dist/

# Packages ignores
modules/cleaker/node_modules/
modules/cleaker/package-lock.json
modules/cleaker/dist/

# Temporary files
*.tmp
*.swp

# Ignore package lock files
package-lock.json
**/package-lock.json

# Ignore .DS_Store everywhere (macOS metadata files)
.DS_Store
**/.DS_Store

# Vite cache
.vite/
**/.vite/